@model sampleshopping1frontend.Models.Products

@{
    ViewData["Title"] = "ProductDetails";
    ViewBag.Mrp = Model.Price + 10;
}

<head>
    <link rel="stylesheet" href="~/css/GetPrdbyid.css" />
</head>
@*<h1>ProductDetails</h1>*@

<!--<div class="container" id="product-section">
    <div class="row">
        <div class="col-md-6">

                <img class="image-responsive" src="@Model.Pimageurl" alt="Card image cap">

            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h1>@Html.DisplayFor(model => model.Pname)</h1>

                    <p class="description">
                        @Html.DisplayFor(model => model.Pdescription)
                    </p>
                </div>
            </div>
        </div>-->
<!-- end row -->
<!--</div>--><!-- end container -->
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Pimageurl" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-@Model.Pid</div>
                <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.Pname)</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">$ @ViewBag.Mrp</span>
                    <span>$@Html.DisplayFor(model => model.Price)</span>
                </div>
                <p class="lead">@Html.DisplayFor(model => model.Pdescription)</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" readonly="readonly" />
                    <a asp-action="AddItem" asp-controller="Cart" asp-route-pid="@Model.Pid" asp-route-pname="@Model.Pname" asp-route-pprice="@Model.Price"><button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </i>
                        Add to cart
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


@*<div class="container">
    <div class="row">

        <div style="padding: 8px">
            <div class="card mb-3">
                <img class="card-img-top" src="@Model.Pimageurl" alt="Card image cap" style="width:1000px; height:400px">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Pname)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Pdescription)</p>
                    <p class="card-text">@Html.DisplayFor(model => model.Price)</p>

                    <a asp-action="AddItem" asp-controller="Cart" asp-route-pid="@Model.Pid" asp-route-pname="@Model.Pname" asp-route-pprice="@Model.Price" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

    </div>*@
